<html>
<head>
<title>coba</title>
<link type="text/css" href="jquery-ui-1.8.16.custom.css" rel="Stylesheet" />	
<script type="text/javascript" src="jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="jquery-ui-1.8.16.custom.min.js"></script>
<script>
	$(function() {
		$( "#date" ).datepicker();
	});
	</script>
</head>
<body>
<label for="date">Date Input:</label>
                    <input type="date" name="date" id="date" placeholder="date"  />
                    
</body>
</html>
